$lista: 1 2 3 4 5 6;

.class {
    @each $tema in $lista{
        .a#{$tema}{background-image:  image-url("kepek/#{$tema}.jpg");}
    }
}

@each $tema in $lista{
    .b#{$tema}{background-image:  image-url("kepek/#{$tema}.jpg");}
}

.container{
    color: darkolivegreen;
}
 

.container div{
    background-color: greenyellow
}

@for $i from 5 through 10 {
    .szamozottclass#{$i} {padding: 10px*$i;}
}