body {
    background-image: url(./img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.torzs {
    width: 1000px;
    margin: auto;
}

.header {
    min-width: 650px;
    max-width: 1000px;
}

header {
    width: 450px;
    background-color: #5B9Cea;
    text-align: center;
}

nav {
    padding-top: 1%;
    padding-bottom: 12%;
    padding-left: 2%;
}

h3 {
    padding-left: 5%;
}

section {
    width: 450px;
    background-color: #5B9Cea;
    float: left;
    width: 45%;
    margin: 2%;
}

aside {
    width: 450px;
    background-color: #5B9CEA;
    float: left;
    width: 45%;
    margin: 2%;
}

table,
th,
td,
tr {
    width: 450px;
    border-collapse: wide;
    text-align: center;
    background-color: #B0D1F1;
    Border: 1px solid black;
}

.image {
    float: left;
    width: 100%;
    padding: 5px;
    height: 10px;
}

#picture {
    width: 100%;
    height: 200px;
}

.image2 {
    mix-blend-mode: multiply;
    float: right;
    width: 15%;
    padding: 1px;
    margin: 15px;
    object-position;
    height: 10px;
}

#picture2 {
    width: 100%;
    height: 150px;
}