body{
    background-image: url(./img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.keret{
    width:100%;
    margin: 0 auto 0 auto;
}
.header{
    width: 90%;
        background-image: url(./img/panorama.jpg);
            background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
    height: 200px;
    padding: 20px;
}
.cimerkep img{
    width: 150px;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
.bal{
    width: 80%;
    margin: auto;
    background-color: #5B9CEA;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.jobb{
    width: 80%;
   margin: auto;
     background-color: #5B9CEA;
     padding: 20px;
     margin-bottom: 20px;
     margin-left: 20px;
}
.harmadik{
     width: 80%;
     margin: auto;
     background-color: #5B9CEA;
     padding: 20px;
     margin-bottom: 20px;
     margin-left: 20px;
}
.felkover{
        font-weight: bold;
}
.bekezdes{
   font-weight: bold;
}
.tablazat{
    text-align: center;
    background-color: #B0D1F1;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tablazat td{
    border: 1px solid black;
    padding: 5px;
}
a{
    color: red;
    text-decoration: none;
    transition: background-color 2s;
}
a:hover{
    color: black;
    background-color: red;
}
@media screen and (min-width:900px) {
    .bal {
        width: 28%;
        float: left;
    }
    .jobb {
        width: 28%;
        float: left;
    }
    .harmadik{
        width: 28%;
        float: left;
    }
}

@media screen and (max-width:900px) {
    .cimerkep img{
        width: 20%;
         }
}

@media screen and (max-width:500px) {
    .cimerkep{
        display: none;
    }
    .header{
        height: 150px;
    }
}
@media screen(min-width:450px) or (min-width:800px) {
    h1{
        color:red;
    }
} 

@keyframes beuszas{
    0%   { left: 0px;  top: 0px;}
    33%  { left: 10px; top: 50px;}
    66%  { left: 20px; top: 80px;}
    80%  { left: 30px; top: 100px;}
    100% { left: 25px; top: 85px;}
}
h1{
    position: relative;
    animation-name: beuszas;
    animation-duration: 3s;
}
@keyframes  madar{
    from   { top: 10px; left: 0px; }
    to { left: 80%;; bottom: -100px; }
}
.madar{
    mix-blend-mode: multiply;
    position: relative;
    animation-name: madar;
    animation-duration: 5s;
}
ul{
    list-style: none;
    width: 80%;
    background-color: aqua;
    position: sticky;
    top:  10px;
}
li{
    border: 1px solid red;
    float: left;
}

li a:{
   
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 2s;
}

li a:hover{
    color: black;
    background-color: #5B9CEA;
}