body{
    width: 10px;
    margin: auto;
    background-image: url(./img/tenger.webp);
    background-size: cover;
}

.bal{
   
  
    margin: auto;
   
}

@keyframes  nap{
    0%   { top: 0px;  left: 0px;}
    10%  { top: 10px; left: 50px;}
   
    100%  { top: 100px; left: 100px;}
}

.nap{
    mix-blend-mode: multiply;
    position: relative;
    animation-name: nap;
    animation-duration: 5s;
}
@keyframes  hajó{
    from   {left: 0px; top 5px;}
    to { left:50%;  top 5px;  }
}

.hajó{
  
    mix-blend-mode: multiply;
    position: relative;
    animation-name: hajó;
    animation-duration: 5s;
}
